@import url(//db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);

* {
  list-style-type: none;
  margin: 0;
  font-family: 'PixelarRegularW01-Regular';
  box-sizing: border-box;
  text-align: center;
}